.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
massif.out.*
callgrind.out.*
.vscode/launch.json
.vscode/tasks.json
Sources/SwiftSDL2/monogram.ttf
Sources/SwiftSDL2/monogram.ttf
Sources/SwiftSDL2/main.swift
Sources/SwiftSDL2/dos437.ttf
Sources/SwiftSDL2/FSEX300.ttf
Sources/SwiftSDL2/iosevka-fixed-regular.ttf
test.txt
Package.resolved

Sources/SwiftSDL2/sdl.jpeg
Sources/SwiftSDL2/Types/Queue.swift
